html { -webkit-text-size-adjust: none; }
body, h1, p, ul,h3, h4{ margin:0; padding:0; }
body a {text-decoration:none; color:black; font-family: Neue Haas Grotesk, sans-serif }
body ul li{list-style: none;}
body ul li a:hover { color:brown;  font-family: Neue Haas Grotesk, sans-serif }
div a {color:rgb(255, 99, 71);font:bold;}
#menuicon {display: none;}
#menuicon + label { display:inline-block;  width:20px; height: 15px; position:absolute;; top:3.9%; left:3%; cursor: pointer;}
#menuicon + label span {display: block; position: absolute; width:100%; height: 3px; border-radius: 10px; background: #000; transition: all .35s;}
#menuicon + label span:nth-child(1) {top:0;}
#menuicon + label span:nth-child(2) {top:50%; transform: translateY(-50%);}/* 비슷하게 사용할 수 있는 style top:calc(50% - 2.5px); margin-top:-2.5px;*/
#menuicon + label span:nth-child(3) {bottom:0;}
#menuicon:checked + label{z-index:3;}
#menuicon:checked + label span {background:White; left:5%;}
#menuicon:checked + label span:nth-child(1){top:50%; transform:translateY(-50%) rotate(45deg);}
#menuicon:checked + label span:nth-child(2){opacity:0;}
#menuicon:checked + label span:nth-child(3){bottom:50%; transform:translateY(50%) rotate(-45deg);}
div[class="sidebar"]{opacity:98%; width:100%; height:15%; background:#D1D1D1; position: fixed; top: 0; left:-2800px; z-index:2; transition:all .35s }
input[id="menuicon"]:checked + label + div{left:0;}
h1{z-index: 1;}
footer{position: fixed; right:3%;bottom:3%;}
.smile{height:33px; width:33px;padding:0; margin: 0;}
.text{background-color:#01FE00;}
.bt{height:30px; width:42px;padding:0; margin: 0; }
.nav{
  display:grid;
  grid-template-columns: repeat(6, 3rem);
  grid-auto-rows: auto;
  grid-gap: 1.5em;
  font:bold; font-size:1.25rem;
  justify-content: center;
}
.nav1{
  display:grid;
  grid-template-columns: repeat(6, 3rem);
  grid-auto-rows: auto;
  grid-gap: 1.5em;
  font:bold; font-size:1.25rem;
  justify-content: center;
}
.pixel {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.pixel-items {
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  max-width: 80%;
  padding: 0 4px;
}

.pixel-items img {
  margin-top: 8px;
  width: 100%;
}

   @media (min-width: 1281px) {
      img { max-width: 40%; height: auto; }
   }
   /*
   ##Device = Laptops, Desktops
   ##Screen = B/w 1025px to 1280px
   ##Device = 랩탑, 데스크탑
   ##Screen = 1025px에서 1280px 사이
   */

   @media (min-width: 1025px) and (max-width: 1280px) {
      img { max-width: 50%; height: auto; }
   }
   /*
   ##Device = Tablets, Ipads (portrait),
   ##Screen = B/w 768px to 1024px
   ##Device = 태블릿, 아이패드(세로),
   ##Screen = 768px에서 1024px 사이
   */

   @media (min-width: 768px) and (max-width: 1024px) {
      img { max-width: 60%; height: auto; }
   }
   /*
   ##Device = Tablets, Ipads (landscape)
   ##Screen = B/w 768px to 1024px
   ##Device = 태블릿, 아이패드(가로)
   ##Screen = 768px에서 1024px 사이
   */
   @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      img { max-width: 70%; height: auto; }
   }
   /*
   ##Device = Low Resolution Tablets, Mobiles (Landscape)
   ##Screen = B/w 481px to 767px
   ##Device = 저해상도 태블릿, 모바일(가로)
   ##Screen = 481px에서 767px 사이
   */
   @media (min-width: 481px) and (max-width: 767px) {
      img { max-width: 80%; height: auto; }
   }
   /*
   ##Device = Most of the Smartphones Mobiles (Portrait)
   ##Screen = B/w 320px to 479px
   ##Device = 대부분의 스마트폰 모바일 기기(세로)
   ##Screen = 320px에서 479px 사이
   */
   @media (min-width: 200px) and (max-width: 480px) {
     header{font-size:65%;
     }
   body{margin-top: 1px;}
    img { max-width: 90%; height: auto; }
    div[class="sidebar"]{height:9.1%;}
    div[id="nav1"]{margin-top:8%;}
    .text{max-width:90%;}
    
    .nav{ grid-gap: 1rem;}
      .pixel-items {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      text-align: center;
          }
    .nav1{ grid-gap: 1rem; }
      }
