*{ margin: 0; padding:0; }
.h2{ stlye=font-size:500px;}
#han{text-align: right}
.side{text-align:right;
    float:right;
  color:grey}
div {
  text-align:center;
  }
#happy {list-style: none;}
body a { text-decoration:none; color:black; font-family: Neue Haas Grotesk, sans-serif}
body ul li a:hover { color:brown;  font-family: Neue Haas Grotesk, sans-serif }
